/*-------------start chrome icon------------*/

.icon-chrome {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 30%);
    border-radius: 50%;
    z-index: 1;
    position: relative;
    overflow: hidden;

}

.icon-chrome-center {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgb(121, 121, 235);
    z-index: 5;
}

.icon-chrome-circle {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 6;
}

.icon-chrome-red {
    width: 50px;
    height: 22px;
    background-color: #e93c35;
    position: absolute;
    top: -5px;
    left: 11px;
    z-index: 5;
}

.icon-chrome-red::after {
    content: "";
    background: #e93c35;
    position: absolute;
    top: 11px;
    left: -13px;
    width: 27px;
    height: 17px;
    transform: rotate(60deg);
}

.icon-chrome-green {
    width: 50px;
    height: 22px;
    background-color: #5bc15b;
    position: absolute;
    top: 13px;
    left: -24.3px;
    transform: rotate(-120deg);
    z-index: 5;
}

.icon-chrome-green::after {
    content: "";
    background: #5bc15b;
    position: absolute;
    top: 11px;
    left: -12px;
    width: 34px;
    height: 15px;
    transform: rotate(60deg);
}

.icon-chrome-yellow {
    width: 52px;
    height: 35px;
    background-color: #fdd901;
    position: absolute;
    top: 17px;
    left: 4px;
    transform: rotate(120deg);
    z-index: 4;
}


/*-------------end chrome icon------------*/


/*-------------start finder icon------------*/

.finder-icon {
    background: #52b1ef;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

}

.container-hover-icons {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
}

.container-hover-icons:hover {
    transform: scale(1.2) translateY(-10px) translateX(0px);
    transition: all 0.5s cubic-bezier(.47, 1.64, .41, .8);
    cursor: pointer;
}

@keyframes bounce-4 {
    0% {
        transform: scale(1.2) translateY(-10px);
    }

    10% {
        transform: scale(1.2) translateY(0);
    }

    30% {
        transform: scale(1.2) translateY(-30px);
    }

    50% {
        transform: scale(1.2) translateY(0px);
    }

    100% {
        transform: scale(1.2) translateY(0);
    }
}

.container-hover-icons:active {
    transform: scale(1.2) translateY(-10px) translateX(0px);
    cursor: pointer;
    animation-name: bounce-4;

    transition: all 250ms ease;
}

.finder-icon-grey-side {
    background-color: #e5e7ec;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
    border-radius: 50%;
    height: 75px;
    width: 56px;
    position: absolute;
    top: -3px;
    left: 26px;
    transform: rotate(-11deg);
}

.finder-icon-grey-side::before {
    background: #e5e7ec;
    display: block;
    content: "";
    height: 39px;
    position: absolute;
    width: 38px;
    border-top-left-radius: 391px;
    border-bottom-left-radius: 10px;
    top: -10px;
    left: -3px;
    transform: rotate(11deg);
}

.finder-icon-eyes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: -12px;
}

.finder-icon-eyes .eye {
    background: #404a52;
    border-radius: 10px;
    height: 6px;
    width: 3px;
    z-index: 100;
    margin-left: 21px;
}

.finder-icon-smile {
    border: 2px solid #404a52;
    border-radius: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 40px;
}


/*-------------end finder icon------------*/


/*-------------start adobe cloud icons------------*/

.adobe-icons {
    width: 48px;
    height: 48px;
    border-radius: 0.7em;
    display: flex;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.adobe-icons>div {
    margin: auto;
    font-size: 1.3em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

.premiere-icon {
    background: #240832;
    border: 1px solid #e373f7;
}

.premiere-icon>div {
    color: #e373f7;
}

.photoshop-icon {
    background: #001d34;
    border: 1px solid #1c9cff;
}

.photoshop-icon>div {
    color: #1c9cff;
}

.afterEffect-icon {
    background: #000058;
    border: 1px solid #9494f7;
}

.afterEffect-icon>div {
    color: #9494f7;

}

.adobe-xd-icon {
    background: #450135;
    border: 1px solid #c215b6;
}

.adobe-xd-icon>div {
    color: #f75eee;

}

/*-------------end adobe cloud icons------------*/


/*-------------start adobe cloud icons------------*/

.calendar-icon {
    width: 45px;
    height: 44px;
    background: rgb(167 167 167) !important;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: skewX(10deg) skewY(-10deg);
    box-shadow: 0 2px 5px 2px rgba(63, 63, 63, 0.3);
}

.calendar-icon-bg {
    position: absolute;
    top: -2px;
    /* left: 0; */
    width: 39px;
    height: 43px;
    background: white;
    z-index: 2;
    /* margin: auto; */
    box-shadow: 0px 1.3px 1px 0.1px rgb(66, 66, 66);
}

.calendar-icon-top {
    width: 100%;
    height: 15px;
    background: #e85750;
    text-align: center;
    font-size: 0.62em;
    color: white;
    text-transform: uppercase;
    line-height: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    position: relative;
}

.calendar-icon-middle {
    color: black;
    background: white;
    line-height: 25px;
    font-size: 1.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    transform: scaleY(1.1);
    border-top: none;
    margin: auto;
}

.icons-dimension {
    width: 50px;
    height: 50px;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: lightskyblue;
}

/*----------end calendar----------*/
/*----------start app store ----------*/
.appStore-icons-inside {
    margin-left: 1px;
}

.appStore-icon {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(187, 187, 187, 0), #1671F2);
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);

}

.appStore-icon .appStore-icons-inside {
    width: 6px;
    height: 35px;
    border-radius: 50px;
    border: 0.5px solid rgb(65, 172, 238);
}

.appstore-icon-line1 {
    position: absolute;
    top: 5px;
    left: 16px;
    transform: rotate(30deg);
    background: white;
    z-index: 204;
}

.appstore-icon-line1::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 15px;
    top: -0.4px;
    left: -0.4px;
    z-index: 201;
    border-radius: 50px;
}

.appstore-icon-line2 {
    position: absolute;
    top: 5px;
    left: 24px;
    transform: rotate(-30deg);
    background: white;
    z-index: 205;
}

.appstore-icon-line2::after {
    content: "";
    width: 6px;
    height: 20px;
    position: absolute;
    top: 14.4px;
    left: -0.3px;
    border-radius: 50px;
}

.appstore-icon-line3 {
    position: absolute;
    top: 12px;
    left: 20px;
    transform: rotate(90deg);
    background: white;
    z-index: 204;
}

.appstore-icon-line3::after {
    content: "";
    position: absolute;
    top: 19.5px;
    left: -0.3px;
    z-index: 202;
    width: 6px;
    height: 15px;
    border-radius: 20px;
}

/*-------------end appstore cloud------------*/

/*-------------start github icons------------*/
.git-hub-container {
    background: #333;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 10%);
}

.github-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    background: rgb(240, 240, 240);
    border-bottom: none;
    overflow: hidden;
}

.github-icon-face {
    position: relative;
    top: 9px;
    width: 24px;
    height: 14px;
    background: #333;
    border-radius: 20px;
    margin: auto;
}

.github-icon-ears {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 12px;
    top: 1px;
    transform: rotate(90deg);
}

.github-icon-ears-left {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #333;
    border-radius: 50%;
}

.github-icon-ears-right {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #333;
    border-radius: 50%;
}

.github-icon-body {
    width: 13px;
    height: 22px;
    background: #333;
    position: relative;
    top: 7px;
    margin: 0px auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


}

.github-icon-tails {
    width: 17px;
    height: 11px;
    position: absolute;
    border: solid 3px #333;
    border-color: #333 transparent transparent transparent;
    border-radius: 100px/100px 0px;
    transform: rotate(49deg);
    top: 27px;
    z-index: 231;
    left: 3px;
}


/*-------------end github icons------------*/



/*-------------start google-maps icons------------*/

.google-maps-icon {
    width: 48px;
    height: 48px;
    background-color: rgb(10, 230, 83);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.google-maps-circlePart {
    width: 55px;
    height: 55px;
    border: 10px solid white;
    box-shadow: 0 0 6px rgb(39, 39, 39);
    border-radius: 50%;
    position: absolute;
    left: 23px;
    top: -26px;
}

.google-maps-lineStraightPart {
    width: 9px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 10px;
    box-shadow: 0 0 2px rgb(39, 39, 39);
    z-index: 4;
}

.google-maps-lineStraightPart::after {
    content: "";
    width: 5px;
    height: 30px;
    background-color: rgb(66, 113, 241);
    position: absolute;
    top: 0;
    left: 2px;
}

.google-maps-lineStraightPart::before {
    content: "";
    width: 13px;
    height: 13px;
    background-color: rgb(57, 103, 231);
    border: 2px solid white;
    position: absolute;
    border-radius: 50px;
    bottom: 15px;
    left: -2px;
    z-index: 5;
}

.google-maps-lineRotateghtPart {
    background-color: yellow;
    height: 68px;
    width: 8px;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: 0 0 2px rgb(119, 119, 119);
    left: 13px;
    z-index: 1;
    top: -6px;
}

.google-maps-pinkShape {
    width: 15px;
    height: 35px;
    background-color: rgb(252, 124, 145);
    position: absolute;
    bottom: 0;
}

.google-maps-whiteShape {
    width: 20px;
    height: 15px;
    border-top-right-radius: 50%;
    background-color: rgb(236, 236, 236);
    position: absolute;
    bottom: 0;
    right: 17px;
}

.google-maps-white2Shape {
    width: 15px;
    height: 15px;
    border-top-right-radius: 50%;
    background-color: rgb(236, 236, 236);
    position: absolute;
    top: 0;
    left: 1px;
}

.google-maps-speed {
    background-color: rgb(17, 140, 240);
    width: 15px;
    height: 12px;
    position: absolute;
    z-index: 20;
    bottom: 4px;
    right: 5px;
    border-radius: 6px;
    font-size: 0.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(236, 10, 59);
    font-weight: 500;
    color: white;
    letter-spacing: 0.4px;
}


/*-------------end google-maps icons------------*/


/*-------------start photos icons------------*/

.photos-icons {
    width: 48px;
    height: 48px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.photo-icon {
    position: absolute;
    width: 10px;
    height: 18px;
    background-color: rgb(202, 54, 84);
    border-radius: 30px;
}

.photo-icon-shape1 {
    top: 23px;
    left: 19px;
    background-color: #d94b0d;
    z-index: 35;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.photo-icon-shape2 {
    top: 20px;
    transform: rotate(10deg);
    background-color: green;
    opacity: 0.8;
}

.photo-icon-shape3 {
    left: 28px;
    top: 21px;
    transform: rotate(-40deg);
    background-color: brown;
    z-index: 32;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.photo-icon-shape4 {
    top: 14px;
    left: 30px;
    transform: rotate(90deg);
    background-color: rgb(194, 95, 14);
    z-index: 35;
    opacity: 0.8;
}

.photo-icon-shape5 {
    top: 5px;
    left: 28px;
    transform: rotate(45deg);
    background-color: palevioletred;
    z-index: 32;
    opacity: 0.8;
}

.photo-icon-shape6 {
    top: 2px;
    left: 19px;
    background-color: #914412;
    z-index: 34;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.photo-icon-shape7 {
    top: 5px;
    transform: rotate(-45deg);
    left: 10px;
    z-index: 52;
    opacity: 0.8;
    mix-blend-mode: darken;
}

.photo-icon-shape8 {
    top: 14px;
    left: 8px;
    transform: rotate(90deg);
    background-color: darkgoldenrod;
    z-index: 36;
    opacity: 0.8;
    mix-blend-mode: normal;
}

.photo-icon-shape9 {
    left: 10px;
    top: 21px;
    transform: rotate(45deg);
    background-color: darkorchid;
    z-index: 34;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

.photos-icons-center {
    position: relative;
    top: 1px;
    left: -1px;
    width: 100%;
    height: 100%;
}


/*-------------end photos icons------------*/



/*-----  start musical icon --------*/

.music-icons {
    width: 51px;
    height: 51px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgba(247, 19, 19, 0.281) -10px, rgb(223, 16, 16));
    border: 1px solid rgb(228, 228, 228);
    overflow: hidden;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.music-icon-top {
    height: 8px;
    width: 17px;
    background-color: white;
    transform: skewX(-17deg) rotate(-15deg);
    border-radius: 2px;
    z-index: 54;
    border-bottom: none;
}

.music-icons-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 11px;
    left: 0.5px;
}

.music-bars {
    width: 3px;
    height: 22px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(59, 59, 59, 0.849);
}

.music-icon-bars {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 2.5px;
    z-index: 53;
}

.music-bar2 {
    position: relative;
    top: -4px;
}

.music-circle {
    width: 9px;
    height: 6px;
    border-radius: 10px;
    transform: rotate(-1deg);
    background-color: white;
    z-index: 53;
}

.music-circle1 {
    position: absolute;
    left: 9.5px;
    top: 22.3px;
}

.music-circle2 {
    position: absolute;
    left: 24.5px;
    top: 18.3px;
}


/*-----  start linkdin icon --------*/

.linkDin-icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgba(34, 129, 207, 0.993);
    display: flex;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.linkDin-icon>div {
    margin: auto;
    font-size: 2.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/*-----  end linkdin icon --------*/


/*-----  start figma icon --------*/

.figma-icon {
    width: 48px;
    height: 48px;
    background: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #240832;
    border: 1px solid;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
}

.figma-icons-center {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.figma {
    width: 12px;
    height: 12px;
}

.figma-shape1 {
    background: rgb(13, 59, 185);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #EE4E2A;
}

.figma-shape2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #FB7266;
}

.figma-shape3 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #A061FA;
}

.figma-shape4 {
    border-radius: 50px;
    background: #2EBDFA;
}

.figma-shape5 {
    background: #00CE84;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.figma-shape6 {
    background: transparent;
}


/*-----  end figma icon --------*/






















/* ///////////////////// small icons small top \\\\\\\\\\\\\*/




/* ***---top icon wireless-----***** */
.wireless-container {
    position: relative;
    width: 25px;
    height: 15px;
}

.wireless-circle {
    width: 3px !important;
    height: 3px !important;
    border-radius: 50px;
    background: white;
    z-index: 3;
    margin: 4px auto;
}

.wireless-first {
    background: none;
    z-index: 4;
    width: 30px !important;
    height: 30px !important;
    border-radius: 92px;
    border: 1px solid white;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 100px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 2px;
}

.wireless-second {
    background: none;
    z-index: 4;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50px;
    border: 1px solid white;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 100px;
    margin: 4px auto;
}

.box {
    width: 20px;
    height: 20px;
}


/* ***---END icon wireless-----***** */
.container-buttonH {
    width: 48px;
    height: 48px;
    background-color: #119DA4;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.buttonsd {
    text-align: center;
    font-size: 20px;
    color: #E9D758;
    z-index: 1;
}





.overlay {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
    color: white;
    z-index: 2000;
    visibility: hidden;
    display: none;


}

.overlay::after {
    background-color: rgba(24, 24, 24, 1.603);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    opacity: 0.7;
}


.overlay .close {
    cursor: help;




}


.overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    top: 0;
    height: 100%;
}

.overlay.active2 {


    display: none;

}