
@font-face {
  font-family: product-sans;
  src: url(/template/assets/fonts/product-sans/Product\ Sans\ Regular.ttf)
}

.terminal-container {

  width: 800px;
  max-width: 800px;
  height: 550px;
  max-height: 550px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.terminal-top-nav {
  color: white;
  width: 35%;
}

.terminal-body .terminal-text li {
  color: rgba(199, 199, 199, 0.918);
  font-size: 12px;
  font-family: product-sans;
  letter-spacing: 1.1px;
  font-weight: 300;

}
.terminal-text li a{
  color: white;
  font-size: 18px !important;
}
.terminal-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.terminal-body {
  background-color: rgb(24, 24, 24);
  padding: 10px;
  height: 100%;

}

.terminal-topnav {
  display: flex;
  align-items: center;
}

.text-terminal-top {
  color: var(--text-low-finder-color);
  font-size: 0.7em;
}
