<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./icons-brut.css" />
    <title>chrome icon</title>
  </head>

  <body>
    <div class="container-hover-icons">
      <div class="icon-chrome chrome">
        <div class="icon-chrome-red"></div>
        <div class="icon-chrome-green"></div>
        <div class="icon-chrome-yellow"></div>
        <div class="icon-chrome-circle"></div>
        <div class="icon-chrome-center"></div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="finder-icon">
        <div class="finder-icon-grey-side"></div>
        <div class="finder-icon-eyes">
          <div class="finder-icon-eye-left eye"></div>
          <div class="finder-icon-eye-right eye"></div>
        </div>
        <div class="finder-icon-smile"></div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="adobe-icons photoshop-icon">
        <div>Ps</div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="adobe-icons premiere-icon">
        <div>Pr</div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="adobe-icons afterEffect-icon">
        <div>Ae</div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="adobe-icons adobe-xd-icon">
        <div>Xd</div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="calendar-icon">
        <div class="calendar-icon-bg">
          <div class="calendar-icon-top">
            <div>jun</div>
          </div>
          <div class="calendar-icon-middle">
            <div>21</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="appStore-icon icons-dimension">
        <div class="appstore-icon-line1 appStore-icons-inside"></div>
        <div class="appstore-icon-line2 appStore-icons-inside"></div>
        <div class="appstore-icon-line3 appStore-icons-inside"></div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="github-icon">
        <div class="github-icon-ears">
          <div class="github-icon-ears-left"></div>
          <div class="github-icon-ears-right"></div>
        </div>
        <div class="github-icon-face"></div>
        <div class="github-icon-body"></div>
        <div class="github-icon-tails"></div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="google-maps-icon">
        <div class="google-maps-circlePart"></div>
        <div class="google-maps-greenPart"></div>
        <div class="google-maps-lineStraightPart"></div>
        <div class="google-maps-lineRotateghtPart"></div>
        <div class="google-maps-pinkShape"></div>
        <div class="google-maps-whiteShape"></div>
        <div class="google-maps-white2Shape"></div>
        <div class="google-maps-speed">
          280
          <div class="google-maps-speed-shape1"></div>
          <div class="google-maps-speed-shape2"></div>
          <div class="google-maps-speed-shape2"></div>
        </div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="photos-icons">
        <div class="photos-icons-center">
          <div class="photo-icon-shape1 photo-icon"></div>
          <div class="photo-icon-shape3 photo-icon"></div>
          <div class="photo-icon-shape4 photo-icon"></div>
          <div class="photo-icon-shape5 photo-icon"></div>
          <div class="photo-icon-shape6 photo-icon"></div>
          <div class="photo-icon-shape7 photo-icon"></div>
          <div class="photo-icon-shape8 photo-icon"></div>
          <div class="photo-icon-shape9 photo-icon"></div>
        </div>
      </div>
    </div>
    <div class="container-hover-icons bounce-4">
      <div class="music-icons">
        <div class="music-icons-center">
          <div class="music-icon-top"></div>
          <div class="music-icon-bars">
            <div class="music-bar1 music-bars"></div>
            <div class="music-bar2 music-bars"></div>
          </div>
          <div class="music-icon-circle">
            <div class="music-circle1 music-circle"></div>
            <div class="music-circle2 music-circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-hover-icons bounce-4">
      <div class="linkDin-icon">
        <div>in</div>
      </div>
    </div>

    <div class="container-hover-icons bounce-4">
      <div class="figma-icon">
        <div class="figma-icons-center">
          <div class="figma-shape1 figma"></div>
          <div class="figma-shape2 figma"></div>
          <div class="figma-shape3 figma"></div>
          <div class="figma-shape4 figma"></div>
          <div class="figma-shape5 figma"></div>
          <div class="figma-shape6 figma"></div>
        </div>
      </div>
    </div>

    <div class="container-hover-icons bounce-4">
      <div class="notes-icon">
        <div class="notes-icon-top"></div>
        <div class="notes-icon-container">
          <hr />
          <br />
          <hr />
          <br />
          <hr />
        </div>
      </div>
    </div>
  </body>
</html>
