@keyframes container-loadingScreen {
    0%,
    15% {
      opacity: 0;
      filter: blur(10px);
    }
  
    90% {
      filter: blur(90px);
      opacity: 0.6;
      z-index: 2;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
      z-index: 3;
    }
  }
  
  @keyframes container-BootLoading {
    0%,
    15% {
      opacity: 0;
      filter: blur(30px);
    }
    30%,
    90% {
      filter: blur(10px);
      opacity: 1;
      z-index: 4;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
      z-index: 1;
    }
  }

  @keyframes rotateBgLogo {
    0% {
      transform: scale(1) rotate(45deg);
    }
  
    100% {
      transform: scale(1.2) rotate(960deg);
    }
  }

  
@keyframes containerFade {
    0% {
      opacity: 0;
    }
    2%,
    96% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
@keyframes containerFade {
    0% {
      opacity: 0;
    }
    2%,
    96% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes prograss-bar {
    0% {
      opacity: 0;
    }
    1%,
    96% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes prograss-bar2 {
  0% {
    opacity: 0;
  }
  1%,
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
